{
  "swagger": "2.0",
  "info": {
    "version": "1.3 Dec 20th 2018",
    "title": "BG PSD2 API",
    "description": "# Summary\nThe **NextGenPSD2** *Framework Version 1.3* offers a modern, open, harmonised and interoperable set of \nApplication Programming Interfaces (APIs) as the safest and most efficient way to provide data securely. \nThe NextGenPSD2 Framework reduces XS2A complexity and costs, addresses the problem of multiple competing standards \nin Europe and, aligned with the goals of the Euro Retail Payments Board,\nenables European banking customers to benefit from innovative products and services ('Banking as a Service') \nby granting TPPs safe and secure (authenticated and authorised) access to their bank accounts and financial data.\n\nThe possible Approaches are:\n  * Redirect SCA Approach\n  * OAuth SCA Approach\n  * Decoupled SCA Approach\n  * Embedded SCA Approach without SCA method\n  * Embedded SCA Approach with only one SCA method available\n  * Embedded SCA Approach with Selection of a SCA method\n\n  Not every message defined in this API definition is necessary for all approaches. \n  Furthermore this API definition does not differ between methods which are mandatory, conditional, or optional\n  Therefore for a particular implementation of a Berlin Group PSD2 compliant API it is only necessary to support \n  a certain subset of the methods defined in this API definition.\n\n  **Please have a look at the implementation guidelines if you are not sure \n  which message has to be used for the approach you are going to use.**\n\n## Some General Remarks Related to this version of the OpenAPI Specification:\n* **This API definition is based on the Implementation Guidelines of the Berlin Group PSD2 API.** \n  It is not an replacement in any sense.\n  The main specification is (at the moment) always the Implementation Guidelines of the Berlin Group PSD2 API.\n* **This API definition contains the REST-API for requests from the PISP to the ASPSP.**\n* **This API definition contains the messages for all different approaches defined in the Implementation Guidelines.**\n* According to the OpenAPI-Specification [https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md]\n  \n    \"If in is \"header\" and the name field is \"Accept\", \"Content-Type\" or \"Authorization\", the parameter definition SHALL be ignored.\"\n  \n  The element \"Accept\" will not be defined in this file at any place.\n  \n  The elements \"Content-Type\" and \"Authorization\" are implicitly defined by the OpenApi tags \"content\" and \"security\".\n  \n* There are several predefined types which might occur in payment initiation messages, \n  but are not used in the standard JSON messages in the Implementation Guidelines.\n  Therefore they are not used in the corresponding messages in this file either.\n  We added them for the convenience of the user.\n  If there is a payment product, which need these field, one can easily use the predefined types.\n  But the ASPSP need not to accept them in general.\n  \n* **We omit the definition of all standard HTTP header elements (mandatory/optional/conditional) \n  except they are mention in the Implementation Guidelines.**\n  Therefore the implementer might add the in his own realisation of a PSD2 comlient API in addition to the elements define in this file.\n   \n## General Remarks on Data Types\n\nThe Berlin Group definition of UTF-8 strings in context of the PSD2 API have to support at least the following characters\n\na b c d e f g h i j k l m n o p q r s t u v w x y z\n\nA B C D E F G H I J K L M N O P Q R S T U V W X Y Z\n\n0 1 2 3 4 5 6 7 8 9\n\n/ - ? : ( ) . , ' +\n\nSpace\n",
    "contact": {
      "email": "info@berlin-group.org",
      "name": "The Berlin Group - A European Standards Initiative",
      "url": "https://www.berlin-group.org/"
    }
  },
  "host": "api.testbank.com",
  "basePath": "/psd2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/{payment-service}/{payment-product}": {
      "post": {
        "description": "This method is used to initiate a payment at the ASPSP.\n\n## Variants of Payment Initiation Requests\n\nThis method to initiate a payment initiation at the ASPSP can be sent with either a JSON body or an pain.001 body depending on the payment product in the path.\n\nThere are the following **payment products**:\n\n  - Payment products with payment information in *JSON* format:\n    - ***sepa-credit-transfers***\n    - ***instant-sepa-credit-transfers***\n    - ***target-2-payments***\n    - ***cross-border-credit-transfers***\n  - Payment products with payment information in *pain.001* XML format:\n    - ***pain.001-sepa-credit-transfers***\n    - ***pain.001-instant-sepa-credit-transfers***\n    - ***pain.001-target-2-payments***\n    - ***pain.001-cross-border-credit-transfers***\n\nFurthermore the request body depends on the **payment-service**\n  * ***payments***: A single payment initiation request.\n  * ***bulk-payments***: A collection of several payment iniatiation requests.\n  \n    In case of a *pain.001* message there are more than one payments contained in the *pain.001 message.\n    \n    In case of a *JSON* there are several JSON payment blocks contained in a joining list.\n  * ***periodic-payments***: \n    Create a standing order initiation resource for recurrent i.e. periodic payments addressable under {paymentId} \n     with all data relevant for the corresponding payment product and the execution of the standing order contained in a JSON body. \n\nThis is the first step in the API to initiate the related recurring/periodic payment.\n  \n## Single and mulitilevel SCA Processes\n\nThe Payment Initiation Requests are independent from the need of one ore multilevel \nSCA processing, i.e. independent from the number of authorisations needed for the execution of payments. \n\nBut the response messages are specific to either one SCA processing or multilevel SCA processing. \n\nFor payment initiation with multilevel SCA, this specification requires an explicit start of the authorisation, \ni.e. links directly associated with SCA processing like 'scaRedirect' or 'scaOAuth' cannot be contained in the \nresponse message of a Payment Initation Request for a payment, where multiple authorisations are needed. \nAlso if any data is needed for the next action, like selecting an SCA method is not supported in the response, \nsince all starts of the multiple authorisations are fully equal. \nIn these cases, first an authorisation sub-resource has to be generated following the 'startAuthorisation' link.\n",
        "summary": "Payment initiation request",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1ByPaymentServiceAndPaymentProductPost",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Client ID of the PSU in the ASPSP client interface. Might be mandated in the ASPSP's documentation.\nIs not contained if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in an preceeding\nAIS service in the same session."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "Consent-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "This data element may be contained, if the payment initiation transaction is part of a session, i.e. combined AIS/PIS service.\nThis then contains the consentId of the related AIS consent, which was performed prior to this payment initiation."
          },
          {
            "name": "TPP-Redirect-Preferred",
            "in": "header",
            "required": false,
            "enum": [
              "true",
              "false"
            ],
            "type": "string",
            "description": "If it equals \"true\", the TPP prefers a redirect over an embedded SCA approach.\nIf it equals \"false\", the TPP prefers not to be redirected for SCA. The ASPSP will then choose between the Embedded or the Decoupled\nSCA approach, depending on the choice of the SCA procedure by the TPP/PSU.\nIf the parameter is not used, the ASPSP will choose the SCA approach to be applied depending on the SCA method chosen by the\nTPP/PSU."
          },
          {
            "name": "TPP-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "URI of the TPP, where the transaction flow shall be redirected to after a Redirect.\n\nMandated for the Redirect SCA Approach (including OAuth2 SCA approach), specifically \nwhen TPP-Redirect-Preferred equals \"true\".\nIt is recommended to always use this header field.\n\n**Remark for Future:** \nThis field might be changed to mandatory in the next version of the specification."
          },
          {
            "name": "TPP-Nok-Redirect-URI",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case\nof a negative result of the redirect SCA method. This might be ignored by the ASPSP."
          },
          {
            "name": "TPP-Explicit-Authorisation-Preferred",
            "in": "header",
            "required": false,
            "enum": [
              "true",
              "false"
            ],
            "type": "string",
            "description": "If it equals \"true\", the TPP prefers to start the authorisation process separately, \ne.g. because of the usage of a signing basket. \nThis preference might be ignored by the ASPSP, if a signing basket is not supported as functionality.\n\nIf it equals \"false\" or if the parameter is not used, there is no preference of the TPP. \nThis especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, \nwithout using a signing basket."
          },
          {
            "name": "PSU-IP-Port",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Charset",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Encoding",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Language",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded Agent header field of the HTTP request between PSU and TPP, if available."
          },
          {
            "name": "PSU-Http-Method",
            "in": "header",
            "required": false,
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "type": "string",
            "description": "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE"
          },
          {
            "name": "PSU-Device-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device."
          },
          {
            "name": "PSU-Geo-Location",
            "in": "header",
            "required": false,
            "type": "string",
            "pattern": "(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}",
            "description": "The forwarded Geo Location of the corresponding http request between PSU and TPP if available."
          },
          {
            "name": "xml_sct",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "json_standingorderType",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The body part 2 of a periodic payment initation request containes the execution related informations \nof the periodic payment."
          }
        ],
        "responses": {
          "201": {
            "description": "CREATED",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": "{\"description\":\"Response in case of a redirect with an implicitly created authorisation sub-resource\",\"value\":{\"transactionStatus\":\"RCVD\",\"paymentId\":\"1234-wertiq-983\",\"_links\":{\"scaRedirect\":{\"href\":\"https://www.testbank.com/asdfasdfasdf\"},\"self\":{\"href\":\"/v1/payments/sepa-credit-transfers/1234-wertiq-983\"},\"status\":{\"href\":\"/v1/payments/1234-wertiq-983/status\"},\"scaStatus\":{\"href\":\"/v1/payments/1234-wertiq-983/authorisations/123auth456\"}}}}"
            },
            "headers": {
              "X-Request-ID": {
                "type": "string",
                "default": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
              },
              "Location": {
                "type": "string"
              },
              "ASPSP-SCA-Approach": {
                "type": "string",
                "default": "EMBEDDED"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error400_NG_PIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error401_NG_PIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error403_NG_PIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error404_NG_PIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error405_NG_PIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {}
          },
          "408": {
            "description": "Request Timeout",
            "schema": {}
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {}
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {}
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {}
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {}
          }
        }
      }
    },
    "/v1/{payment-service}/{payment-product}/{paymentId}": {
      "get": {
        "description": "Returns the content of a payment object",
        "summary": "Get Payment Information",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1PaymentIdByPaymentServiceAndPaymentProductGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the generated payment initiation resource."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP."
          },
          {
            "name": "PSU-IP-Port",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Charset",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Encoding",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Language",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded Agent header field of the HTTP request between PSU and TPP, if available."
          },
          {
            "name": "PSU-Http-Method",
            "in": "header",
            "required": false,
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "type": "string",
            "description": "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE"
          },
          {
            "name": "PSU-Device-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device."
          },
          {
            "name": "PSU-Geo-Location",
            "in": "header",
            "required": false,
            "type": "string",
            "pattern": "(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}",
            "description": "The forwarded Geo Location of the corresponding http request between PSU and TPP if available."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            },
            "headers": {
              "X-Request-ID": {
                "type": "string",
                "default": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error400_NG_PIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error401_NG_PIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error403_NG_PIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error404_NG_PIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error405_NG_PIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {}
          },
          "408": {
            "description": "Request Timeout",
            "schema": {}
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {}
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {}
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {}
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {}
          }
        }
      },
      "delete": {
        "description": "This method initiates the cancellation of a payment. \nDepending on the payment-service, the payment-product and the ASPSP's implementation, \nthis TPP call might be sufficient to cancel a payment. \nIf an authorisation of the payment cancellation is mandated by the ASPSP, \na corresponding hyperlink will be contained in the response message.\n\nCancels the addressed payment with resource identification paymentId if applicable to the payment-service, payment-product and received in product related timelines (e.g. before end of business day for scheduled payments of the last business day before the scheduled execution day). \n\nThe response to this DELETE command will tell the TPP whether the \n  * access method was rejected\n  * access method was successful, or\n  * access method is generally applicable, but further authorisation processes are needed.\n",
        "summary": "Payment Cancellation Request",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1PaymentIdByPaymentServiceAndPaymentProductDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the generated payment initiation resource."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP."
          },
          {
            "name": "PSU-IP-Port",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Charset",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Encoding",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Language",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded Agent header field of the HTTP request between PSU and TPP, if available."
          },
          {
            "name": "PSU-Http-Method",
            "in": "header",
            "required": false,
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "type": "string",
            "description": "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE"
          },
          {
            "name": "PSU-Device-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device."
          },
          {
            "name": "PSU-Geo-Location",
            "in": "header",
            "required": false,
            "type": "string",
            "pattern": "(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}",
            "description": "The forwarded Geo Location of the corresponding http request between PSU and TPP if available."
          }
        ],
        "responses": {
          "202": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentInitiationCancelResponse-204_202"
            },
            "headers": {
              "X-Request-ID": {
                "type": "string",
                "default": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error400_NG_PIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error401_NG_PIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error403_NG_PIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error404_NG_PIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error405_NG_PIS_CANC"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {}
          },
          "408": {
            "description": "Request Timeout",
            "schema": {}
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {}
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {}
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {}
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {}
          }
        }
      }
    },
    "/v1/{payment-service}/{payment-product}/{paymentId}/status": {
      "get": {
        "description": "Check the transaction status of a payment initiation.",
        "summary": "Payment initiation status request",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1PaymentIdStatusByPaymentServiceAndPaymentProductGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the generated payment initiation resource."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP."
          },
          {
            "name": "PSU-IP-Port",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Charset",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Encoding",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Language",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded Agent header field of the HTTP request between PSU and TPP, if available."
          },
          {
            "name": "PSU-Http-Method",
            "in": "header",
            "required": false,
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "type": "string",
            "description": "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE"
          },
          {
            "name": "PSU-Device-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device."
          },
          {
            "name": "PSU-Geo-Location",
            "in": "header",
            "required": false,
            "type": "string",
            "pattern": "(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}",
            "description": "The forwarded Geo Location of the corresponding http request between PSU and TPP if available."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/paymentInitiationStatusResponse-200_json"
            },
            "headers": {
              "X-Request-ID": {
                "type": "string",
                "default": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error400_NG_PIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error401_NG_PIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error403_NG_PIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error404_NG_PIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error405_NG_PIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {}
          },
          "408": {
            "description": "Request Timeout",
            "schema": {}
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {}
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {}
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {}
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {}
          }
        }
      }
    },
    "/v1/{payment-service}/{payment-product}/{paymentId}/authorisations": {
      "post": {
        "description": "Create an authorisation sub-resource and start the authorisation process. \nThe message might in addition transmit authentication and authorisation related data. \n\nThis method is iterated n times for a n times SCA authorisation in a \ncorporate context, each creating an own authorisation sub-endpoint for \nthe corresponding PSU authorising the transaction.\n\nThe ASPSP might make the usage of this access method unnecessary in case \nof only one SCA process needed, since the related authorisation resource \nmight be automatically created by the ASPSP after the submission of the \npayment data with the first POST payments/{payment-product} call.\n\nThe start authorisation process is a process which is needed for creating a new authorisation \nor cancellation sub-resource. \n\nThis applies in the following scenarios:\n\n  * The ASPSP has indicated with an 'startAuthorisation' hyperlink in the preceeding Payment \n    Initiation Response that an explicit start of the authorisation process is needed by the TPP. \n    The 'startAuthorisation' hyperlink can transport more information about data which needs to be \n    uploaded by using the extended forms.\n    * 'startAuthorisationWithPsuIdentfication', \n    * 'startAuthorisationWithPsuAuthentication' #TODO\n    * 'startAuthorisationWithAuthentciationMethodSelection' \n  * The related payment initiation cannot yet be executed since a multilevel SCA is mandated.\n  * The ASPSP has indicated with an 'startAuthorisation' hyperlink in the preceeding \n    Payment Cancellation Response that an explicit start of the authorisation process is needed by the TPP. \n    The 'startAuthorisation' hyperlink can transport more information about data which needs to be uploaded \n    by using the extended forms as indicated above.\n  * The related payment cancellation request cannot be applied yet since a multilevel SCA is mandate for \n    executing the cancellation.\n  * The signing basket needs to be authorised yet.\n",
        "summary": "Start the authorisation process for a payment initiation",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1PaymentIdAuthorisationsByPaymentServiceAndPaymentProductPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the generated payment initiation resource."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Client ID of the PSU in the ASPSP client interface. Might be mandated in the ASPSP's documentation.\nIs not contained if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in an preceeding\nAIS service in the same session."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP."
          },
          {
            "name": "PSU-IP-Port",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Charset",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Encoding",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Language",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded Agent header field of the HTTP request between PSU and TPP, if available."
          },
          {
            "name": "PSU-Http-Method",
            "in": "header",
            "required": false,
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "type": "string",
            "description": "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE"
          },
          {
            "name": "PSU-Device-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device."
          },
          {
            "name": "PSU-Geo-Location",
            "in": "header",
            "required": false,
            "type": "string",
            "pattern": "(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}",
            "description": "The forwarded Geo Location of the corresponding http request between PSU and TPP if available."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/startScaprocessResponse"
            },
            "headers": {
              "X-Request-ID": {
                "type": "string",
                "default": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
              },
              "ASPSP-SCA-Approach": {
                "type": "string",
                "default": "EMBEDDED"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error400_NG_PIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error401_NG_PIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error403_NG_PIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error404_NG_PIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error405_NG_PIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {}
          },
          "408": {
            "description": "Request Timeout",
            "schema": {}
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {}
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {}
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {}
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {}
          }
        }
      },
      "get": {
        "description": "Read a list of all authorisation subresources IDs which have been created.\n\nThis function returns an array of hyperlinks to all generated authorisation sub-resources.\n",
        "summary": "Get Payment Initiation Authorisation Sub-Resources Request",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1PaymentIdAuthorisationsByPaymentServiceAndPaymentProductGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the generated payment initiation resource."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP."
          },
          {
            "name": "PSU-IP-Port",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Charset",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Encoding",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Language",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded Agent header field of the HTTP request between PSU and TPP, if available."
          },
          {
            "name": "PSU-Http-Method",
            "in": "header",
            "required": false,
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "type": "string",
            "description": "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE"
          },
          {
            "name": "PSU-Device-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device."
          },
          {
            "name": "PSU-Geo-Location",
            "in": "header",
            "required": false,
            "type": "string",
            "pattern": "(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}",
            "description": "The forwarded Geo Location of the corresponding http request between PSU and TPP if available."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/authorisations"
            },
            "headers": {
              "X-Request-ID": {
                "type": "string",
                "default": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error400_NG_PIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error401_NG_PIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error403_NG_PIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error404_NG_PIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error405_NG_PIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {}
          },
          "408": {
            "description": "Request Timeout",
            "schema": {}
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {}
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {}
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {}
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {}
          }
        }
      }
    },
    "/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}": {
      "get": {
        "description": "This method returns the SCA status of a payment initiation's authorisation sub-resource.\n",
        "summary": "Read the SCA Status of the payment authorisation",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1PaymentIdAuthorisationsAuthorisationIdByPaymentServiceAndPaymentProductGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the generated payment initiation resource."
          },
          {
            "name": "authorisationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the related SCA."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP."
          },
          {
            "name": "PSU-IP-Port",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Charset",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Encoding",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Language",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded Agent header field of the HTTP request between PSU and TPP, if available."
          },
          {
            "name": "PSU-Http-Method",
            "in": "header",
            "required": false,
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "type": "string",
            "description": "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE"
          },
          {
            "name": "PSU-Device-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device."
          },
          {
            "name": "PSU-Geo-Location",
            "in": "header",
            "required": false,
            "type": "string",
            "pattern": "(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}",
            "description": "The forwarded Geo Location of the corresponding http request between PSU and TPP if available."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/scaStatusResponse"
            },
            "headers": {
              "X-Request-ID": {
                "type": "string",
                "default": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error400_NG_PIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error401_NG_PIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error403_NG_PIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error404_NG_PIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error405_NG_PIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {}
          },
          "408": {
            "description": "Request Timeout",
            "schema": {}
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {}
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {}
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {}
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {}
          }
        }
      },
      "put": {
        "description": "This methods updates PSU data on the authorisation resource if needed. \nIt may authorise a payment within the Embedded SCA Approach where needed.\n\nIndependently from the SCA Approach it supports e.g. the selection of \nthe authentication method and a non-SCA PSU authentication.\n\nThere are several possible Update PSU Data requests in the context of payment initiation services needed, \nwhich depends on the SCA approach:\n\n* Redirect SCA Approach:\n  A specific Update PSU Data Request is applicable for \n    * the selection of authentication methods, before choosing the actual SCA approach.\n* Decoupled SCA Approach:\n  A specific Update PSU Data Request is only applicable for\n  * adding the PSU Identification, if not provided yet in the Payment Initiation Request or the Account Information Consent Request, or if no OAuth2 access token is used, or\n  * the selection of authentication methods.\n* Embedded SCA Approach: \n  The Update PSU Data Request might be used \n  * to add credentials as a first factor authentication data of the PSU and\n  * to select the authentication method and\n  * transaction authorisation.\n\nThe SCA Approach might depend on the chosen SCA method. \nFor that reason, the following possible Update PSU Data request can apply to all SCA approaches:\n\n* Select an SCA method in case of several SCA methods are available for the customer.\n\nThere are the following request types on this access path:\n  * Update PSU Identification\n  * Update PSU Authentication\n  * Select PSU Autorization Method \n    WARNING: This method need a reduced header, \n    therefore many optional elements are not present. \n    Maybe in a later version the access path will change.\n  * Transaction Authorisation\n    WARNING: This method need a reduced header, \n    therefore many optional elements are not present. \n    Maybe in a later version the access path will change.\n",
        "summary": "Update PSU data for payment initiation",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1PaymentIdAuthorisationsAuthorisationIdByPaymentServiceAndPaymentProductPut",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the generated payment initiation resource."
          },
          {
            "name": "authorisationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the related SCA."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Client ID of the PSU in the ASPSP client interface. Might be mandated in the ASPSP's documentation.\nIs not contained if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in an preceeding\nAIS service in the same session."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP."
          },
          {
            "name": "PSU-IP-Port",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Port header field consists of the corresponding HTTP request IP Port field between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Charset",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Encoding",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-Accept-Language",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded IP Accept header fields consist of the corresponding HTTP request Accept header fields between PSU and TPP, if available."
          },
          {
            "name": "PSU-User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The forwarded Agent header field of the HTTP request between PSU and TPP, if available."
          },
          {
            "name": "PSU-Http-Method",
            "in": "header",
            "required": false,
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "type": "string",
            "description": "HTTP method used at the PSU ? TPP interface, if available.\nValid values are:\n* GET\n* POST\n* PUT\n* PATCH\n* DELETE"
          },
          {
            "name": "PSU-Device-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "UUID (Universally Unique Identifier) for a device, which is used by the PSU, if available.\nUUID identifies either a device or a device dependant application installation.\nIn case of an installation identification this ID need to be unaltered until removal from device."
          },
          {
            "name": "PSU-Geo-Location",
            "in": "header",
            "required": false,
            "type": "string",
            "pattern": "(GEO:)[0-9]{1,3}\\.[-][0-9]{6}\\,[-][0-9]{1,3}\\.[0-9]{6}",
            "description": "The forwarded Geo Location of the corresponding http request between PSU and TPP if available."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/scaStatusResponse"
            },
            "examples": {
              "application/json": {
                "description": "Response of an Update PSU Identification for a payment initiation request for the decoupled approach.",
                "value": {
                  "scatransactionStatus": "psuIdentified",
                  "psuMessage": "Please use your BankApp for transaction Authorisation.",
                  "_links": {
                    "scaStatus": {
                      "href": "/v1/payments/qwer3456tzui7890/authorisations/123auth456"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-Request-ID": {
                "type": "string",
                "default": "99391c7e-ad88-49ec-a2ad-99ddcb1f7721"
              },
              "ASPSP-SCA-Approach": {
                "type": "string",
                "default": "EMBEDDED"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error400_NG_PIS"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error401_NG_PIS"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error403_NG_PIS"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error404_NG_PIS"
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "schema": {
              "$ref": "#/definitions/Error405_NG_PIS"
            }
          },
          "406": {
            "description": "Not Acceptable",
            "schema": {}
          },
          "408": {
            "description": "Request Timeout",
            "schema": {}
          },
          "415": {
            "description": "Unsupported Media Type",
            "schema": {}
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {}
          },
          "default": {
            "description": "Internal Server Error",
            "schema": {}
          },
          "503": {
            "description": "Service Unavailable",
            "schema": {}
          }
        }
      }
    },
    "/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations": {
      "post": {
        "description": "Creates an authorisation sub-resource and start the authorisation process of the cancellation of the addressed payment. \nThe message might in addition transmit authentication and authorisation related data.\n\nThis method is iterated n times for a n times SCA authorisation in a \ncorporate context, each creating an own authorisation sub-endpoint for \nthe corresponding PSU authorising the cancellation-authorisation.\n\nThe ASPSP might make the usage of this access method unnecessary in case \nof only one SCA process needed, since the related authorisation resource \nmight be automatically created by the ASPSP after the submission of the \npayment data with the first POST payments/{payment-product} call.\n\nThe start authorisation process is a process which is needed for creating a new authorisation \nor cancellation sub-resource. \n\nThis applies in the following scenarios:\n\n  * The ASPSP has indicated with an 'startAuthorisation' hyperlink in the preceeding Payment \n    Initiation Response that an explicit start of the authorisation process is needed by the TPP. \n    The 'startAuthorisation' hyperlink can transport more information about data which needs to be \n    uploaded by using the extended forms.\n    * 'startAuthorisationWithPsuIdentfication', \n    * 'startAuthorisationWithPsuAuthentication' #TODO\n    * 'startAuthorisationWithAuthentciationMethodSelection' \n  * The related payment initiation cannot yet be executed since a multilevel SCA is mandated.\n  * The ASPSP has indicated with an 'startAuthorisation' hyperlink in the preceeding \n    Payment Cancellation Response that an explicit start of the authorisation process is needed by the TPP. \n    The 'startAuthorisation' hyperlink can transport more information about data which needs to be uploaded \n    by using the extended forms as indicated above.\n  * The related payment cancellation request cannot be applied yet since a multilevel SCA is mandate for \n    executing the cancellation.\n  * The signing basket needs to be authorised yet.\n",
        "summary": "Start the authorisation process for the cancellation of the addressed payment",
        "tags": [
          "Payment Initiation Service (PIS)"
        ],
        "operationId": "V1PaymentIdCancellationAuthorisationsByPaymentServiceAndPaymentProductPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payment-service",
            "in": "path",
            "required": true,
            "enum": [
              "payments",
              "bulk-payments",
              "periodic-payments"
            ],
            "type": "string",
            "description": "Payment service:\n\nPossible values are:\n* payments\n* bulk-payments\n* periodic-payments"
          },
          {
            "name": "payment-product",
            "in": "path",
            "required": true,
            "enum": [
              "sepa-credit-transfers",
              "instant-sepa-credit-transfers",
              "target-2-payments",
              "cross-border-credit-transfers",
              "pain.001-sepa-credit-transfers",
              "pain.001-instant-sepa-credit-transfers",
              "pain.001-target-2-payments",
              "pain.001-cross-border-credit-transfers"
            ],
            "type": "string",
            "description": "The addressed payment product endpoint, e.g. for SEPA Credit Transfers (SCT).\nThe ASPSP will publish which of the payment products/endpoints will be supported.\n\nThe following payment products are supported:\n  - sepa-credit-transfers\n  - instant-sepa-credit-transfers\n  - target-2-payments\n  - cross-border-credit-transfers\n  - pain.001-sepa-credit-transfers\n  - pain.001-instant-sepa-credit-transfers\n  - pain.001-target-2-payments\n  - pain.001-cross-border-credit-transfers\n\n**Remark:** For all SEPA Credit Transfer based endpoints which accept XML encoding, \nthe XML pain.001 schemes provided by EPC are supported by the ASPSP as a minimum for the body content. \nFurther XML schemes might be supported by some communities.\n\n**Remark:** For cross-border and TARGET-2 payments only community wide pain.001 schemes do exist. \nThere are plenty of country specificic scheme variants."
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource identification of the generated payment initiation resource."
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "ID of the request, unique to the call, as determined by the initiating party."
          },
          {
            "name": "Digest",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Is contained if and only if the \"Signature\" element is contained in the header of the request."
          },
          {
            "name": "Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "A signature of the request by the TPP on application level. This might be mandated by ASPSP."
          },
          {
            "name": "TPP-Signature-Certificate",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The certificate used for signing the request, in base64 encoding. \nMust be contained if a signature is contained."
          },
          {
            "name": "PSU-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Client ID of the PSU in the ASPSP client interface. Might be mandated in the ASPSP's documentation.\nIs not contained if an OAuth2 based authentication was performed in a pre-step or an OAuth2 based SCA was performed in an preceeding\nAIS service in the same session."
          },
          {
            "name": "PSU-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Type of the PSU-ID, needed in scenarios where PSUs have several PSU-IDs as access possibility."
          },
          {
            "name": "PSU-Corporate-ID",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-Corporate-ID-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Might be mandated in the ASPSP's documentation. Only used in a corporate context."
          },
          {
            "name": "PSU-IP-Address",
            "in": "header",
            "required": false,
            "type": "string",
[...]
