{{>licenseInfo}}
package code.model.genmodel

import code.model._
import net.liftweb.mapper._

{{#imports}}import {{import}}
{{/imports}}

//{{#models}}
//{{#model}}
//class {{classname}} extends LongKeyedMapper[classname] with IdPK with CreatedUpdated {
//  {{#vars}}
//  {{^isInherited}}
//  {{#description}}
///* {{{description}}} */
//  {{/description}}
//  object {{name}} extends {{datatype}}
//  {{/isInherited}}
//  {{/vars}}
//}
//object classname extends classname with LongKeyedMetaMapper[classname]
//
//{{/model}}
//{{/models}}

